.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }
  
  .dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 150px;
    background: #15171F;
    box-shadow: 0px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
  
  .dialog p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    max-height: 80px;
    overflow-y: auto;
  }
  
  .dialog .action-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
  }